<section class="liste valign-wrapper">
    <div class="row container">
        <h2 class="center-align">Ils nous ont fait confiance</h2>
        <div class="col s12 m12">
            <div class="hopitaux-liste">
                <div class="one">
                    <h3>Akram</h3>
                </div>
                <div class="two">
                    <h3>Promedis</h3>
                </div>
                <div class="three">
                    <h3>Roi Baudoin</h3>
                </div>
                <div class="four">
                    <h3>HJ Hospital</h3>
                </div>
                <div class="five">
                    <h3>Cinquantenaire</h3>
                </div>
                <div class="six">
                    <h3>Monkole</h3>
                </div>
                <div class="seven">
                    <h3>Clique universitaire</h3>
                </div>
                <div class="eight">
                    <h3>Saint Joseph</h3>
                </div>
            </div>
        </div>
    </div>
</section>
