<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 s12 valign-wrapper">
          <h2 class="lupitadji">lupitadji</h2>
        </div>
        <div class="col l6 s12">
          <p>Retouvez-nous sur</p>
          <ul>
            <li><a class="white-text" href="#!">facebook</a></li>
            <li><a class="white-text" href="#!">twitter</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <p>Menu</p>
          <ul>
            <li><a class="white-text" href="#!">Acceuil</a></li>
            <li><a class="white-text" href="#!">Service</a></li>
            <li><a class="white-text" href="#!"></a>Géo-localisation</li>
            <li><a class="white-text" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="developer">Developpé par Jordan MOSONGO, Dieu-merci MAKENGA et Divine OKAKO</p> 
      </div>
    </div>
  </footer>
