<section class="container hopital valign wrapper">
    <div class="row first-container z-depth-1">
        <div class="col m12 l12 s12 welcome">
            <div class="row valign-wrapper">
                <div class="col m2 S2 l2 adresse">
                    <h2 class="center-align logo">
                        <i class="material-icons hopital-logo">local_hospital</i>
                    </h2>
                </div>
                <div class="col m10 S10 l10 adresse">
                    <h2 class="nom">Akram</h2>
                    <p>Sis sur l'avenue Basoko n° 15, quartier keke, commune de Kimbanseke <br>
                    <span id="coordonnees"> Coordonnées géographiques</span> <br>
                    <span id="latitude">Latitude : -4.67111999</span> <br>
                    <span id="longitude">Longitude : 16.2345522555222</span>
                    </p>                   
                </div>
            </div> 
        </div>
    </div>
    <div class="col s12 l6 offset-12">
        <ul class="tabs">
            <li class="tab col s6"><a routerLink="/hopital/profil">Profil</a></li>
            <li class="tab col s6"><a routerLink="/hopital/services">Service</a></li>
            <li class="tab col s6"><a routerLink="/hopital/account-news">A propos de mon compte</a></li>
        </ul>
        <div class="col s12">
            <router-outlet></router-outlet>
        </div>  
            
    </div>
</section>
