<section>
    <h2>Les services disponibles</h2>
    <div class="services"> 
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>  
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>  
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>  
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>     
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>  
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>
        <div class="service">
            <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                <div class="service-info">
                    <h3>Maternité</h3>                                                                                              
                </div>    
            </div>
        </div>             
    </div>
    <button mat-button class="pagination btn-large" >Plus de services</button>
</section>   
           
         
                                                   
     

