<section class="service valign-wrapper" id="service-dispo">
    <div class="container">
        <h2 class="center-align" data-aos-easing="ease-in-out"
        data-aos="zoom-in" data-aos-duration="700">Nos services disponibles</h2>
        <div class="row">
            <div class="col s4 m4" data-aos-easing="ease-in-out"
            data-aos="fade-right" data-aos-duration="800">
                <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[0].image +')' }">
                    <div class="service-info">
                        <h3>Maternité</h3>                                                                                              
                    </div>    
                </div>
            </div>
            <div class="col s4 m4" data-aos-easing="ease-in-out"
            data-aos="fade-up" data-aos-duration="1000">
                <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[1].image +')' }">
                    <div class="service-info">
                        <h3>Ophtalmologie</h3>                                                                                                           
                    </div>    
                </div>
            </div>
            <div class="col s4 m4" data-aos-easing="ease-in-out"
            data-aos="fade-left" data-aos-duration="1200">
                <div class="service-dispo" [ngStyle] = "{ 'background-image' : 'url(' + services[2].image +')' }">
                    <div class="service-info">
                        <h3>Gynécologie</h3>                                                                                                 
                    </div>    
                </div>
            </div>
        </div>
        <div class="row paging" data-aos-easing="ease-in-out"
        data-aos="fade-up" data-aos-duration="1000">
            <div class="s6 m6">
                <button mat-button class="pagination btn-large" >Précédent</button>                                    
            </div>
            <div class="s6 m6">
                <button mat-button class="pagination btn-large" >Suivant</button>                                    
            </div>
        </div>
    </div>
</section>
