<section class="illustration valign-wrapper">
    <div class="container">
        <h1 >Ne vous faites plus de souci</h1>
        <div class="row">
            <div class="col s4 m4">
                <i class="material-icons">location_on</i>
                <p>Reconnaissez votre position grâce à votre device, ordinateur ou téléphone, 
                   et accéder plus facilement à l'hôpital le plus proche de vous </p>
            </div>
            <div class="col s4 m4">
                <i class="material-icons">local_hospital</i>
                <p>Des soins de qualité au près de l'hôpital qui vous est proche. Votre santé est notre entière préoccupation</p>
            </div>
            <div class="col s4 m4">
                <i class="material-icons">people</i>
                <p>Une expérience utilisateur avancée pour vous mettre totalement tranquille, avec la possibilité de faciliter toutes vos actions</p>
            </div>
        </div>
    </div>
</section>
