.illustration {
  height: 35rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d92950;
  color: #fff;
}
.illustration h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 1em;
}
.illustration i {
  font-size: 50px;
}
.illustration p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.illustration .col {
  margin-bottom: 1em;
}
