<section class="container banner valign-wrapper">
    <div class="row">
        <div class="col s12 m8 l8" id="commentaire" 
        data-aos-easing="ease-in-out" data-aos="fade-right" data-aos-duration="1200">
            <h1 >Optimisez votre <br> accès aux hôpitaux</h1>
            <p >
               Nous vous offrons un service qui optimise vos besoins sanitaires. <br>
               Et cela sans que vous ayez à payer le moindre frais!
            </p>
            <a class="btn-large modal-trigger" [ngClass] = "{'pulse' : hoverState == true}" 
            data-aos="fade-up" data-aos-duration="1200" href="#more"
            (mouseover) = "onHover()" (mouseleave) = "onLeave()">En savoir plus</a>
        </div>
        <div class="col m4 l4 hide-on-med-and-down valign-wrapper" 
            id="image-banner" data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <img src="{{image_barner}}" alt="logo d'image de la bannière">
        </div>
    </div>
</section>
<div id="more" class="modal">
    <div class="modal-content">
        <h4>Bienvenu sur la plateforme Lupitadji</h4>
        <p>Lupitadji est une application qui vous présente les services hodspitaliers
            et vous propose l'hôpital le plus proche de vous en fonction du service que vous desirez. <br>
            Plus d'inquiètude sur la question : où puis-je trouver l'hôpital le plus proche ?
            <br>
            Lupitadji optimise votre accès aux hôpitaux congolais. Profitez pleinement et gratuitement de notre service.
        </p>
    </div>
</div>
