<section>    
    <div class="banner">
        <div class="banner__overlay"></div>
        <h1 class="banner__title" >Lupitadji</h1>               
        <p class="banner__text"> 
            Optimisez votre accès aux hôpitaux <br/> ainsi que la recherche des services hodspitaliers
        </p>
        <a class="btn-large modal-trigger " href="#more">En savoir plus</a>
    </div>   
</section>
<div id="more" class="modal">
    <div class="modal-content">
        <h4>Bienvenu sur la plateforme Lupitadji</h4>
        <p>Lupitadji est une application qui vous présente les services hodspitaliers
            et vous propose l'hôpital le plus proche de vous en fonction du service que vous desirez. <br>
            Plus d'inquiètude sur la question : où puis-je trouver l'hôpital le plus proche ?
            <br>
            Lupitadji optimise votre accès aux hôpitaux congolais. Profitez pleinement et gratuitement de notre service.
        </p>
    </div>
</div>
