<section class="container banner valign-wrapper">
    <div class="row">
        <div class="col s12 m7" id="commentaire" 
        data-aos-easing="ease-in-out" data-aos="fade-right" data-aos-duration="1200">
            <h1 >Optimisez votre <br> accès aux hôpitaux</h1>
            <p >
               Nous vous offrons un service qui optimise vos besoins sanitaires. <br>
               Et cela sans que vous ayez à payer le moindre frais!
            </p>
            <button class="btn-large hoverable" [ngClass] = "{'pulse' : hoverState == true}" 
            data-aos="fade-up" data-aos-duration="1200"
            (mouseover) = "onHover()" (mouseleave) = "onLeave()">En savoir plus</button>
        </div>
        <div class="col s6 m5 hide-on-med-and-down valign-wrapper" 
            id="image-banner" data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <img src="{{image_barner}}" alt="logo d'image de la bannière">
        </div>
    </div>
</section>
