<section class="faq container" id="faq">
    <h2>Questions fréquemment posées</h2>
    <div class="row">
        <div class="col s12 m6">
            <div *ngFor = "let question of questions; let i = index">
                <div class="question z-depth-1">
                    <div class="question-asked valign-wrapper">
                        <p>{{question.question}}</p>
                        <button class="btn" (click)="answer(i)"></button>
                    </div>
                    <div class="question-answered" *ngIf = "question.state == true" data-aos-easing="ease-in-out"
                    data-aos="zoom-in" data-aos-duration="1000">
                        <p>{{question.answer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
